.container-1{
background-image: url(back.gif);
background-size: cover;
border:2px solid black; 
margin:0 auto;
width:80%;
height:600px;  
padding:10px;
} 
.heading {
border:3px solid blue;
text-align:center;
}
.input1 {
justify-content:space-around;
padding:0px;
display:flex;
flex-direction:column;
}
.percen {
padding:10px;

}
.buttons{
display: flex;
padding:40px;
flex-wrap: wrap;
flex-direction:row;
justify-content:space-around;
}
.percen {
justify-content:space-around;
flex-direction:row;
display: flex;
}
.form-group {
 height:270px;
  display: flex;
  padding:10px;
  flex-direction:row;
  justify-content:space-around;
}
.form-group div {
 padding:10px;
 height:270px;  
 flex:1;
}
.image {
 display: flex;
  justify-content:center; 
}
.partner {
  padding:40px;
}

